*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 75em) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url('../img/bg.jpg');
  z-index: -1;
}
